/* إعدادات شاشة التحميل */
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; /* لون الخلفية */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.splash-screen img {
    max-width: 100px; /* يمكنك ضبط الحجم هنا */
    height: auto;
}

/* تحسين تنسيق التطبيق */
body {
    font-family: Arial, sans-serif;
    margin: 0;  /* إزالة الهوامش الخارجية لتناسب الشاشة */
    padding: 0;
    display: flex;
    flex-direction: column;  /* لترتيب المحتوى بشكل عمودي */
    align-items: center;  /* لتوسيط المحتوى */
    justify-content: center;  /* لتوسيط المحتوى عموديًا */
    min-height: 100vh;  /* لتغطية الشاشة بالكامل */
    background-color: #0a1f44;  /* لون الخلفية من الشعار */
}

h1 {
    color: #FFFFFF; /* لون النص أبيض */
    text-align: center;  /* توسيط النص */
    margin-top: 20px;  /* إضافة مسافة من الأعلى */
}

form {
    margin-top: 20px;
    width: 90%;  /* لتحديد عرض النموذج بالنسبة لشاشة الهاتف */
    max-width: 400px;  /* لتحديد أقصى عرض على الشاشات الكبيرة */
    background-color: #1c3d72;  /* لون خلفية النموذج قريب من الأزرق في الشعار */
    padding: 20px;  /* لإضافة مسافة داخل النموذج */
    border-radius: 10px;  /* لتقويس حواف النموذج */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  /* لإضافة ظل خفيف */
}

textarea, input[type="file"] {
    width: 100%;  /* لتوسيع العرض لتناسب عرض النموذج */
    margin-top: 10px;
    padding: 10px;  /* لإضافة مسافة داخل الحقول */
    font-size: 16px;  /* لتكبير النص في الحقول */
    border: 1px solid #1f497d;  /* حدود خفيفة بالأزرق الداكن */
    border-radius: 5px;  /* لتقويس حواف الحقول */
}

button {
    width: 100%;  /* لتوسيع الزر ليغطي العرض الكامل */
    padding: 10px;  /* لإضافة مسافة داخل الزر */
    font-size: 18px;  /* لتكبير النص داخل الزر */
    color: white;  /* لتغيير لون النص */
    background-color: #6f259e;  /* لون الخلفية بنفسجي من الشعار */
    border: none;  /* لإزالة الحدود */
    border-radius: 5px;  /* لتقويس حواف الزر */
    cursor: pointer;  /* لتغيير المؤشر عند التمرير فوق الزر */
    margin-top: 15px;  /* لإضافة مسافة فوق الزر */
}

button:hover {
    background-color: #a35f9b;  /* لون مختلف عند التحويم ليكون أفتح قليلاً */
}